# Ignore virtual environment
venv/
.venv/

# Ignore 'files' folder
files/

# Ignore all .env files
*.env

# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore macOS system files
.DS_Store

# Ignore other system files
.idea/
.vscode/
*.log
